body{background-color: rgb(34, 34, 34, 1);
margin: 0px;
height: 100vh;}

div{text-align:center;}

p{color:white;}

button {
-webkit-appearance: none;
border-radius: 0;
}

button:active {transform: scale(0.95);}

p{font-family: Arial}


#value{font-size: 50px;}
#earn{font-size: 25px;}








.blocksTop{height: 50px;}

.mainBlocks{height: 81%;
border-radius: 20px 20px 0px 0px;
background-color: rgb(45, 45, 45, 1);
box-shadow: -0px -10px 50px orange;
}

.tap{background: url('https://i.postimg.cc/Qxf8V8Rp/1.jpg') no-repeat center;
background-size: 50%;
width: 370px;
height: 370px;
background-color: orange;
border-radius: 50%;
}





.card {
background-color: rgb(60, 179, 113,1);
}
.card img {
background-position: center;
padding: 5px 6px;
text-align: left;
font-size: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
width: 100px;
margin-right: 5px;
}









.buttonsBottom {
    display: flex;
    justify-content: space-around;
    background-color: rgb(60, 60, 60, 1);
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 6%;
    border-radius: 5px;
}

.buttonsBottom button {
    font-family: Arial;
    background-color: #3c3c3c;
    margin: 5px 6px;
    float: left;
    color: rgb(100, 100, 100, 1);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    border-radius: 7px;
    height: 46px;
    border:none;
}
