body{background-color: var(--tg-theme-bg-color);
margin: 0;
height: calc(var(--tg-viewport-stable-height) - 3vh);}

div{text-align:center;}

p{color:var(--tg-theme-text-color);}

button {
-webkit-appearance: none;
border-radius: 0;
}

button:active {transform: scale(0.95);}

p{font-family: Arial;
margin: 1% 0}


#value{font-size: 400%;}
#earn{font-size: 150%;}








.blocksTop{height: 5.5%;}

#mainBlocks{height: 87.5%;
border-radius: 20px 20px 0px 0px;
background-color: var(--tg-theme-secondary-bg-color);
box-shadow: -0px -10px 50px orange;
border-width: 5px;
border-top-style: solid;
border-color: orange;}

#btap{background: url('img/Skins/defaultSkin.jpg') no-repeat center;
background-size: 50%;
width: 370px;
height: 370px;
background-color: orange;
border-radius: 50%;
margin-top: 20%;
}

#scroll{overflow: scroll;
overflow-x:hidden;
height: 85%;
bottom: 0;}

div::-webkit-scrollbar{
width: 0px;
}

#cards{margin-bottom: 20px;
font-family: Life Roman;}

.card {height: 180px;
color: #fff;
border-radius: 15px;
font-weight: 700;
font-size: 80%;
margin: 1%;
}
.card img {
background-position: center;
padding: 5px 10px;
text-align: left;
font-size: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
width: 150px;
border-radius: 25px;
}

#melon{background-color: rgb(12, 129, 0, 1);}
#ter{background-color: rgb(117, 117, 117, 1);}
#stolb{background-color: rgb(80, 80, 80, 1);}
#gnom{background-color: rgb(149, 104, 0, 1);}
#anapa{background-color: rgb(210, 73, 73, 1);}
#mum{background-color: rgb(222, 173, 0, 1);}
#tapok{background-color: rgb(2, 175, 188, 1);}
#grand{background-color: rgb(195, 140, 0, 1);}




.soon{font-size: 60px;
font-style: italic;
margin-top: 50%;
}







.buttonsBottom {
display: flex;
justify-content: space-around;
background-color: rgb(60, 60, 60, 1);
overflow: hidden;
position: absolute;
bottom: 0px;
width: 100%;
text-align: center;
height: 9%;
border-radius: 5px;
}

.buttonsBottom button {
font-family: Arial;
background-color: #3c3c3c;
margin: 5px 6px 10px;
float: left;
color: rgb(100, 100, 100, 1);
text-align: center;
text-decoration: none;
font-size: 17px;
width: 100%;
border-radius: 7px;
height: 46px;
border:none;
}


#tapBtn{background: url("img/IconsBottom/homeWhite.png") no-repeat center;
color: #fff;
background-size: 50%;
background-position: top;}
#mineBtn{background: url("img/IconsBottom/mineGrey.png") no-repeat center;
background-size: 50%;
background-position: top;}
#skinsBtn{background: url("img/IconsBottom/skinsGrey.png") no-repeat center;
background-size: 50%;
background-position: top;}
#friendsBtn{background: url("img/IconsBottom/friendsGrey.png") no-repeat center;
background-size: 50%;
background-position: top;}
#dropBtn{background: url("img/IconsBottom/dropGrey.png") no-repeat center;
background-size: 50%;
background-position: top;}
