button {
-webkit-appearance: none;
border-radius: 0;
}
body{background-size: 25%;
margin: 0px}

.tap{background: url('https://i.postimg.cc/Qxf8V8Rp/1.jpg') no-repeat center;
background-size: 50%;
width: 200px; 
height: 200px; 
background-color: #518677; 
border-radius: 50%;
margin: 50px;}


div{text-align:center;}

p{color:white;
font-size:50px;}




.btn img {
background-position: center;
padding: 5px 6px;
text-align: left;
font-size: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
width: 100px;
margin-right: 5px;
}
.btn {
background-color: rgb(60, 179, 113,1);

}
button:active {
transform: scale(0.95);
}

.buttons {
    background-color: rgb(112, 112, 112, 1);
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 7%;
    border-radius: 5px;
}

.buttons button {
    margin: 5px 7px 5px;
    float: left;
    display: block;
    color: rgb(87, 87, 87, 1);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 45%;
    border-radius: 5px;;
    height:
}

